In [ ]:
import numpy as np
import pandas as pd
s=pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
type(s)
s

a    0.167730
b    1.237332
c    0.264924
d    1.081111
e   -0.004373
dtype: float64

In [3]:
print(s.index)
print(s.values)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
[-1.01631167 -0.23545205 -1.25831468 -0.77995008 -0.25451407]

In [4]:
pd.Series(np.random.randn(5))

0   -0.063101
1   -0.026035
2    1.146479
3   -1.133392
4   -0.511429
dtype: float64

In [5]:
d={'a':0.,'b':1.,'c':2.}
print(pd.Series(d))
print(pd.Series(d, index=['b','c','d','a']))

a    0.0
b    1.0
c    2.0
dtype: float64
b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [7]:
pd.Series(5.,index=['a','b','c','d','e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [8]:
s=pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
print(s)

a   -0.205281
b   -0.931723
c    0.185151
d   -0.275941
e    0.723140
dtype: float64

In [9]:
print(s[0])
print(s[1:3])
print(s[:3])
print(s[s> .5])
print(s[[4,3,1]])
print(s['a'])
print('e' in s)

-0.20528097231822046
b   -0.931723
c    0.185151
dtype: float64
a   -0.205281
b   -0.931723
c    0.185151
dtype: float64
e    0.72314
dtype: float64
e    0.723140
d   -0.275941
b   -0.931723
dtype: float64
-0.20528097231822046
True

In [10]:
empires_ds= pd.Series(["Vijayanagara","Roman","Chola","Mongol","Akkadian"])
empires_ds.str.lower()

0    vijayanagara
1           roman
2           chola
3          mongol
4        akkadian
dtype: object

In [11]:
print(empires_ds.str.upper())
print(empires_ds.str.len())

0    VIJAYANAGARA
1           ROMAN
2           CHOLA
3          MONGOL
4        AKKADIAN
dtype: object
0    12
1     5
2     5
3     6
4     8
dtype: int64

In [3]:
tennis_ds= pd.Series(['Seles','Graph','Williams'])
tennis_ds.str.strip()

0       Seles
1       Graph
2    Williams
dtype: object

In [4]:
marvel_ds= pd.Series(['Thor_loki','Thor_Hulk','Gamora_Storm'])
marvel_ds.str.split('_')

0       [Thor, loki]
1       [Thor, Hulk]
2    [Gamora, Storm]
dtype: object

In [5]:
planets=pd.Series(['Venus','Earth','Saturn'])
planets.str.replace('Earth','Mars')

0     Venus
1      Mars
2    Saturn
dtype: object

In [6]:
names_ds=pd.Series(['Jahnavi','Adelmo','Pietro','Alejandro'])
print(names_ds.str.count('e'))
print(names_ds.str.startswith('A'))
print(names_ds.str.endswith('O'))
print(names_ds.str.find('J'))

0    0
1    1
2    1
3    1
dtype: int64
0    False
1     True
2    False
3     True
dtype: bool
0    False
1    False
2    False
3    False
dtype: bool
0    0
1   -1
2   -1
3   -1
dtype: int64

In [8]:
dict_series= {'one': pd.Series([1.,2.,3.,], index=['a','b','c']), 'two': pd.Series([1.,2.,3.,4], index=['a','b','c','d'])}
df=pd.DataFrame(dict_series)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [9]:
print(df.shape)
print(df.index)
print(df.columns)
print(list(df.columns))

(4, 2)
Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['one', 'two'], dtype='object')
['one', 'two']

In [10]:
la_liga={"Ranking":[1,2,3], "Team":["Barcelona","Atletico Madrid","Real Madrid"]}
df= pd.DataFrame(la_liga)
df

   Ranking             Team
0        1        Barcelona
1        2  Atletico Madrid
2        3      Real Madrid

In [11]:
print(df['Team'])
df['played']=[34,36,38]
df['Won']=[27,23,22]
print(df[['played','Won']])
df['Points']=df['Won']*2
print(df)

0          Barcelona
1    Atletico Madrid
2        Real Madrid
Name: Team, dtype: object
   played  Won
0      34   27
1      36   23
2      38   22
   Ranking             Team  played  Won  Points
0        1        Barcelona      34   27      54
1        2  Atletico Madrid      36   23      46
2        3      Real Madrid      38   22      44

In [12]:
df['Lost']=[1,5,6]
df['Drawn']=df['played']-df['Won']-df['Lost']
df['Year']=2018
df

   Ranking             Team  played  Won  Points  Lost  Drawn  Year
0        1        Barcelona      34   27      54     1      6  2018
1        2  Atletico Madrid      36   23      46     5      8  2018
2        3      Real Madrid      38   22      44     6     10  2018

In [13]:
del df['Year']
df.pop('Drawn')
df.insert(5,'Goal Difference',[63,38,42])
df

   Ranking             Team  played  Won  Points  Goal Difference  Lost
0        1        Barcelona      34   27      54               63     1
1        2  Atletico Madrid      36   23      46               38     5
2        3      Real Madrid      38   22      44               42     6

In [14]:
df.rename(columns={'Team':'Club Team'})

   Ranking        Club Team  played  Won  Points  Goal Difference  Lost
0        1        Barcelona      34   27      54               63     1
1        2  Atletico Madrid      36   23      46               38     5
2        3      Real Madrid      38   22      44               42     6

In [15]:
df= pd.DataFrame({'WorldCup_Winner':["Brazil","Germany","Argentina","Brazil","Spain"],'Year':[1962,1974,1986,2002,2010]})
print(df.columns)
print(df.head(2))
print(df.tail(2))

Index(['WorldCup_Winner', 'Year'], dtype='object')
  WorldCup_Winner  Year
0          Brazil  1962
1         Germany  1974
  WorldCup_Winner  Year
3          Brazil  2002
4           Spain  2010

In [16]:
print(df['WorldCup_Winner'].unique())
print(df['WorldCup_Winner'].unique().tolist())
df.transpose()

['Brazil' 'Germany' 'Argentina' 'Spain']
['Brazil', 'Germany', 'Argentina', 'Spain']

                      0        1          2       3      4
WorldCup_Winner  Brazil  Germany  Argentina  Brazil  Spain
Year               1962     1974       1986    2002   2010

In [18]:
print(df.sort_values(by=['Year'],ascending= False))
print(df.sort_index(ascending= False))
print(df['WorldCup_Winner'].value_counts())
print(df['WorldCup_Winner'].value_counts().index.tolist())
print(df['WorldCup_Winner'].value_counts().values.tolist())

  WorldCup_Winner  Year
4           Spain  2010
3          Brazil  2002
2       Argentina  1986
1         Germany  1974
0          Brazil  1962
  WorldCup_Winner  Year
4           Spain  2010
3          Brazil  2002
2       Argentina  1986
1         Germany  1974
0          Brazil  1962
WorldCup_Winner
Brazil       2
Germany      1
Argentina    1
Spain        1
Name: count, dtype: int64
['Brazil', 'Germany', 'Argentina', 'Spain']
[2, 1, 1, 1]

In [20]:
df= pd.DataFrame({'A':[2,4,6],'B':[3,6,9]})
df.assign(C= lambda x:x['A']**2)

   A  B   C
0  2  3   4
1  4  6  16
2  6  9  36

In [21]:
df= pd.DataFrame(np.random.rand(5,5), index =['row_1','row_2','row_3','row_4','row_5'], columns=['col_1','col_2','col_3','col_4','col_5'])
df

          col_1     col_2     col_3     col_4     col_5
row_1  0.534894  0.634439  0.198235  0.023325  0.715622
row_2  0.700906  0.382060  0.722088  0.614343  0.683053
row_3  0.263411  0.983643  0.781125  0.644776  0.177212
row_4  0.062970  0.490196  0.329575  0.093792  0.732473
row_5  0.966407  0.605550  0.162281  0.498645  0.742921

In [23]:
print(df.loc['row_1'])
print(df.loc['row_2','col_3'])
print(df.loc[:,['col_2','col_3']])
print(df.iloc[1])
print(df.iloc[3:5,0:2])

col_1    0.534894
col_2    0.634439
col_3    0.198235
col_4    0.023325
col_5    0.715622
Name: row_1, dtype: float64
0.7220880080019654
          col_2     col_3
row_1  0.634439  0.198235
row_2  0.382060  0.722088
row_3  0.983643  0.781125
row_4  0.490196  0.329575
row_5  0.605550  0.162281
col_1    0.700906
col_2    0.382060
col_3    0.722088
col_4    0.614343
col_5    0.683053
Name: row_2, dtype: float64
          col_1     col_2
row_4  0.062970  0.490196
row_5  0.966407  0.605550

In [26]:
cars_data ={'Company':['General Motors','Ford','Toyota','General Motors','Ford','Toyota'], 'Model': ['Camaro','Mustang','Prius','Malibu','Fiesta','Camry'],'Sold':[12285,35273,34287,29325,27459,17621]}
cars_df=pd.DataFrame(cars_data)
cars_df

          Company    Model   Sold
0  General Motors   Camaro  12285
1            Ford  Mustang  35273
2          Toyota    Prius  34287
3  General Motors   Malibu  29325
4            Ford   Fiesta  27459
5          Toyota    Camry  17621

In [29]:
print(cars_df.groupby('Company').mean())
print(cars_df.groupby('Company').std())
print(cars_df.groupby('Company').min())
print(cars_df.groupby('Company').sum())

TypeError: Could not convert MustangFiesta to numeric